[Desktop Entry]
Encoding=UTF-8
Version=1.0
Terminal=true
NoDisplay=true
Type=Application
Name=AppImage Info
Comment="Extracts metadata form AppImage files."
Exec=appimage-info
Icon=appimage-info
Categories=Utility;